@charset "UTF-8";
/* CSS Document */

body { font-family:Arial, Helvetica, sans-serif; font-size: 12px;}
h1 { font-size: 84px; font-variant:small-caps; margin-left: 4px; padding-left: 4px; margin-top: 3px; background-color: #CCC; color: #69C; -moz-border-radius: 10px; font-weight:normal; }
h3 { font-size: 16px; margin-bottom: 2px; font-weight: normal; }

#siteheader { background-color: white; height: 100px; vertical-align:middle; }

#collection { float: left; }
#gallery { float: right; }

#draggables { border: 1px solid #69C; padding: 5px; width: 420px; float: left; list-style-type: none; margin-bottom: 4px; }
#draggables li { float: left; width: 100px; height: 120px; text-align: center; margin: 2px; }
#draggables p { margin-top: 2px; }
#draggables img {max-height: 100px; width: 100&; }
/* #draggables li { background-color: #CCC; border: 1px solid #600; } */

#sortable { list-style-type: none; margin: 0px 0px 4px; padding: 5px; width: 515px; min-height: 200px; float:right; border: 1px solid #69C; }
#sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 2em; text-align: center; background-color: #CCC; color: white;
               opacity: .8; }
#sortable img { max-width: 100px; max-height: 90px; }
#sortable p { display: none; }
#draggables p { font-size: 12px; color: #69C; font-family:Arial, Helvetica, sans-serif; }
.engaged { background-color: rgb(240,240,255); }

#addfiles { padding-top: 4px; }

#sorter { width: 400px; height: 200px; float: right; border: 1px solid #69C; }

#arraybox { clear:both; margin: 4px; padding-top: 15px; color: rgb(210,210,210); }
